* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    width: 90vw;
    height: 90vh;
}
  #dics {
    display: grid;
     grid-template-columns:100px 100px 100px 100px 100px ;
    grid-template-rows: 50px 50px;
    justify-content: center;
    align-content: center;
    gap: 10px;
  } 
  #buttdies {
    border-radius: 10px;
  }
  #Roll {
    position: relative;
    left: 150px;
    width: 200px;
    height: 50px;
    border-radius: 10px ;
    background-color: blue;
    color: white;
  }
  #inst {
    color: rgb(28, 196, 199);
  } 
  #won {
    font-size: 100px;
  }