
@import "tailwindcss";
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    width: 90vw;
    height: 90vh;
}

