@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* Optional: add your own base styles here */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightcoral !important; /* use !important if needed */
  width: 90vw;
  height: 90vh;
}
